---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout>
	<main>
        <h1 class="text-3xl md:text-4xl py-4">No nonsense programming guide</h1>
        <p class="pb-8 italic">Un guide pour apprendre à programmer pour les personnes non-techniques qui travaillent
        dans la tech.</p>
        <p>C'est la troisième fois qu'un de mes collègues me demande comment apprendre à programmer. 
        J'ai toujours du mal à les rediriger vers des tutoriels. Ce sont des personnes "qui s'y connaissent",
        et qui n'ont pas besoin qu'on leur explique les choses comme si ils avaient 8 ans. Mais ils n'ont pas aussi
        le temps de se plonger dans des ressources plus avancées ou des livres. Mon but est donc de proposer sur ce site
        des tutoriels de programmation afin de développer cette compétence secondaire au sein de votre travail.</p>

        <p class="py-12 text-xl">À la fin de ce cours, vous aurez les compétences pour comprendre la puissance de la programmation,
        et développer vos propres scripts pour faciliter les taches rebarbatives de votre travail.</p>

        <p class="pb-4">Accrochez votre ceinture, c'est parti pour découvrir un nouveau monde rempli de possibilités !</p>

        <a href="/csharpindex" class="text-xl">C'est ici pour commencer !</a>
	</main>
</PageLayout>

<style>
</style>
